openapi: '3.0.3'
info:
  description: 'This API is used to post controlled vocabulaires with unmapped
   terms and get mapped terms in return.'
  version: '1.0.0'
  title: 'Controlled Vocabularies'
  contact:
    email: 'rparry@erasmusmc.nl'
servers:
  - url: 'http://a05f2bb1dd55e4b78b61a78a780a5e5c-96677817.eu-west-1.elb.amazonaws.com/ontobrowser.kh.svc/'

paths:
  /cntrldvocabs:
    post:
      tags:
        - 'controlled vocabularies'
      summary: 'Submit controlled vocabularies with unmapped terms'
      requestBody:
        description: 'Controlled vocabulary with unmapped terms'
        required: true
        content:
          'application/json':
            schema:
              $ref: '#/components/schemas/ControlledVocabulary'
      responses:
        '200':
          description: ok
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '405':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
components:
  responses:
    NotFound:
      description: The specified resource was not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: Unauthorized
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    BadRequest:
      description: Bad Request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    InternalServerError:
      description: Internal server error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    ControlledVocabulary:
      type: object
      properties:
        name:
          type: string
        reference_id:
          type: string
        data_source_acronym:
          type: string
          enum:
            - 'CDISC'
            - 'SEND'
            - 'NCI'
            - 'MedDRA'
            - 'INHAND'
            - 'MeSH'
            - 'SNOMED'
            - 'VX'
            - 'EMAPS'
            - 'ChEMBL'
        context:
          type: string
        domain:
          $ref: '#/components/schemas/Domain'
        terms:
          type: array
          items:
            $ref: '#/components/schemas/Term'
    Domain:
      type: 'object'
      properties:
        name:
          type: string
        ontologies:
          type: array
          items:
            type: string
    Term:
      type: object
      properties:
        name:
          type: string
        reference_id:
          type: string
    Error:
      type: object
      properties:
        error:
          type: string
        message:
          type: string