 ServerName  localhost

<VirtualHost *:80>
  
ServerName  localhost

DBDriver mysql
DBDParams host=localhost,dbname=ontobrowser,port=3306,user=root,pass=root
DBDMin  2
DBDKeep 4
DBDMax  10
DBDExptime 300


<Location /ontobrowser/>
    AuthType Basic
    AuthName "OntoBrowser"
    AuthBasicProvider dbd
    AuthDBDUserPWQuery "SELECT password FROM CURATOR WHERE username = %s"
    Require valid-user
    ProxyPass ajp://localhost:8009/ontobrowser/
    ProxyPassReverse ajp://localhost:8009/ontobrowser/
</Location>

 </VirtualHost>


#Listen 127.0.0.1:3689
